# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Environment variables
*.env
.env.*

# macOS system files
.DS_Store

# Logs and debug output
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
*.manifest
*.spec

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm/VSCode IDE files
.idea/
.vscode/
*.code-workspace

# Deployment files
*.db
*.sqlite3
*.pkl
*.lock

# Temporary files
*.bak
*.swp
*.tmp
*.temp
*.~*

# Pip compile
pip-wheel-metadata/
pip-log.txt

# Testing and test coverage
*.coverage
.nox/


#folder
backup/