flask
langchain-community
markitdown
groq
sentence-transformers 
langchain-huggingface
unstructured
langchain
chromadb
python-dotenv
gunicorn
supabase==2.3.1
frontend
PyMuPDF
langchain-chroma
tools
pytesseract